p, a, li {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-size: 30px;
}

.subtitle {
    font-size: 24px;
}

.text {
    font-size: 18px;
}
